@(title: String)(content: Int, statsUser: Map[String, Any], statsEvent: Map[String, Any])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>Current data</h1>
        <h2>Fanned out per User</h2>
        <ul>
        @statsUser.map { stat =>
          <li>@stat._1: @{"%.2f".format(stat._2)} €</li>
        }
        </ul>
        <h2>Fanned out per Event</h2>
        <ul>
        @statsEvent.map { stat =>
          <li>@stat._1: @{"%.2f".format(stat._2)} €</li>
        }
        </ul>
        <small>Events: @content<small>
        <br />
        <small><a href="/issuing">Issue Tracking Numbers</a></small>
    </body>
</html>
